PORT=5000
MONGODB_URI=mongodb+srv://Hitesha:Hitesha22@cluster0.tuz9tlx.mongodb.net/?appName=Cluster0
JWT_SECRET=jwt_secret_token_12345
GEMINI_API_KEY=your_google_gemini_api_key_here
NLP_SERVICE_URL=http://127.0.0.1:8000
JSEARCH_API_KEY=your_rapidapi_jsearch_key_here

# Storage Configuration (local, database, or cloudinary)
RESUME_STORAGE_TYPE=local

# Cloudinary Credentials (required if RESUME_STORAGE_TYPE=cloudinary)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here
